<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Funcionários</title>
    <link rel="stylesheet" href="/css/funcionario.css">
    <link rel="stylesheet" href="/css/modal.css">
    <script src="/js/script.js"></script>
</head>
<body>

<table class="content-table">
    <thead>
    <tr>
        <th>Código</th>
        <th>Nome</th>
        <th>Cargo</th>
        <th>Registrar</th>
        <th>Ação</th>
    </tr>
    </thead>

    <tbody>
    <tr th:if="${#lists.isEmpty(funcionario)}">
        <td colspan="8" align="center">Nenhum funcionário.</td>
    </tr>

    <tr th:each="funcionario : ${funcionario}">
        <td th:text="${funcionario.codigo}"></td>
        <td th:text="${funcionario.nome}"></td>
        <td th:text="${funcionario.cargo}"></td>
        <td>
            <form th:action="@{/gabriela/contabilidade/calculo/busca}" th:method="get">
                <input type="hidden" name="codigo" th:value="${funcionario.codigo}"/>
                <button type="submit" id="submitButton" style="border: none; background: none; padding: 0;">
                    <img src="/img/relogio.png" alt="Deletar"/>
                </button>
            </form>
        </td>
        <td>
            <form th:action="@{/gabriela/contabilidade/funcionarios/{id}(id=${funcionario.id})}" th:method="delete">
                <input type="hidden" name="_method" value="delete"/>
                <button type="submit" id="submitButton" style="border: none; background: none; padding: 0;">
                    <img src="/img/remover.png" alt="Deletar"/>
                </button>
            </form>
        </td>
    </tr>
    </tbody>
</table>

<div class="button-container">

    <form th:action="@{/gabriela/contabilidade/calculo}" th:method="get">
        <button id="open-modal" type="button">CADASTRAR</button>
    </form>

    <form th:action="@{/gabriela/contabilidade/funcionarios}" th:method="post">

        <div id="fade" class="hide"></div>
        <div id="modal" class="hide">
            <img src="/img/cadastro.png" style="width: 60px; height: 60px; display: block; margin-right: auto; margin-left: auto;" alt="Cadastro">
            <div class="modal-header">
                <button type="button" id="close-modal" style="border: none; background: none; padding: 0;">

                </button>
            </div>
            <div class="modal-body">

                <div>
                    <input class="inputs required" name="codigo" type="text" id="codigo" placeholder="Código">
                </div>

                <div>
                    <input class="inputs required" name="nome" type="text" id="nome" placeholder="Nome">
                </div>
                <br>
                <div class="box-select">
                    <div>
                        <div>
                            <select class="inputs required" name="opcao">
                                <option value="Balconista">Balconista</option>
                                <option value="Outro">Outro</option>
                            </select>
                        </div>
                </div>
                <br>
                <button id="open-modal" type="submit">ADICIONAR</button>
            </div>
        </div>
        </div>
    </form>

</div>


</body>
</html>