<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Funcionários</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <table class="content-table">
        <thead>
            <tr>
                <th>Código</th>
                <th>Nome</th>
                <th>Cargo</th>
            </tr>
        </thead>
        
        <tbody>
        <tr th:if="${#lists.isEmpty(funcionario)}">
            <td colspan="8">Nenhum funcionário.</td>
        </tr>

          <tr th:each="funcionario : ${funcionario}">
            <td th:text="${funcionario.codigo}"></td>
            <td th:text="${funcionario.nome}"></td>
            <td th:text="${funcionario.cargo}"></td>
           </tbody>
    </table>
</body>
</html>